.wrapper  
  = render 'shared/side_bar'
  .chat-main
    .main-header
      .main-header_left-box
        .main-header_left-box_current-group
        .main-header_left-box_menber-list
        .main-header_left-box_menber-list_menber
      .main-header_edit_btn  
        Edit
    .messages
      .messages_upper-info
        .messages_upper-info_talker
        .messages_upper-info_date
    .form  
      .new_message
        .input_box
          .input_box_text
            type a text
            .input_box_image
              =fa_icon "image", class:"icon"
              .input_box_image_file
        .submit-btn
          Send
