.chat-side {
  width: 300px;
  color: white;
  float: left;
  margin: 0;
  padding: 0;
  .side-header{
    background-color: #253141;
    height: 100px;
    display: flex;
    padding: 0 20px;
    align-items: center;
    .side-header_box{
      display: flex;
      width: 100%;
      font-weight: bold;
      justify-content: space-between;
      .side-header_box_user-name{
        margin:0;
        padding: 0;
      }
      .side-header_box_menu{
        display: flex;
        list-style: none;
        float: right;
        // @import "font-awesome";
      }
    }
  }
  .groups{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    overflow: scroll;
    .group{
      margin-bottom: 40px;
      .group_group-name{
        font-size: 15px;
        margin-bottom: 5px;
      }
      .group{
        font-size: 11px;
      }
    }
  }
}